<div class="map-wrapper">
  <div class="map">
    <iframe
      width="425"
      height="350"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.openstreetmap.org
        /export/embed.html?bbox=25.18753051757813%2C54.65387484175009%2C25.324687957763675%2C54.69819193915918&amp;layer=mapnik"
      style="border: 1px solid black">
    </iframe><br/>
      <small>
        <a href="https://www.openstreetmap.org/#map=14/54.6760/25.2561">
          Zoom in
        </a>
      </small>
  </div>
</div>
