#map {
  margin: 0 auto;
  height: 30rem;
  width: 50rem;
  border: 0.2rem rgb(0, 0, 0) solid;
}
.leaflet-popup-content-wrapper{
  background-color: black;
  color: white;
  font-weight: 700;
}

.leaflet-popup-tip{
  background:rgb(0, 0, 0);
}
.leaflet-bar a{
  background-color: black;
  color: white;
}
.leaflet-bar a:hover{
  background-color: rgb(78, 78, 78);
  color: white;
}
.leaflet-marker-icon{
  src: 'assets/custom-marker.svg';
}
.leaflet-routing-container{
  display: none;
}

