body{
  margin: 0;
  padding: 0;
  background-color: rgb(195, 212, 170, 0.3);
}
.header{
  margin: 0;
  padding: 0;
  height: 4rem;
  font-size: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  color:#273615;
  background-color: rgb(80, 129, 130, 0.75);
}
.header-wrapper{
  margin:  auto;
  height: 100%;
  text-align: center;
}
.header-caption{
  margin: 0 5rem;
  padding: 1rem 0 1rem 15rem;
}


#map{
  margin: 0 auto;
  height: 30rem;
  width: 50rem;
  border: 0.2rem #2F4858 solid;
}


.main{
  margin-top: 1rem;
}

.main-wrapper{
  width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form-wrapper{
}

.coordinates-form{
  width: 15rem;
  display: grid;
  grid-auto-flow: row;
  overflow: hidden;
  border-radius: 0.2rem;

}
.coordinates-input{
  height: 3rem;
  border: none;
  color:#2F4858;
  font-weight: bold;
  background-color:#c3d4aa;
}
.coordinates-input:hover{
  background-color: rgb(195, 212, 170, 0.5);
}
.coordinates-input:active{
  border: none;
  background-color: #c3d4aa;
}


input,
select {
  padding-left: 0.5rem;
}
select:hover{
  cursor: pointer;
}
option{
  height: 3rem;
  font-weight: bold;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.coordinates-btn{
  height: 2rem;
  color: #2F4858;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color:rgb(149, 185, 157);
}
.coordinates-btn:hover{
  cursor:pointer;
  background-color:rgb(149, 185, 157, 0.5);
}
.coordinates-btn:active{
  border: none;
  background-color:rgb(149, 185, 157, 0.75);
}



.leaflet-popup-content-wrapper{
  background-color: black;
  color: white;
  font-weight: 700;
}

.leaflet-popup-tip{
  background:rgb(0, 0, 0);
}
.leaflet-bar a{
  background-color: black;
  color: white;
}
.leaflet-bar a:hover{
  background-color: rgb(78, 78, 78);
  color: white;
}
.leaflet-marker-icon{
  src: 'assets/custom-marker.svg';
}
.leaflet-routing-container{
  display: none;
}

